html{
	margin: 0;
	padding: 0;
}
body {
	margin: 30px 0 0 0 ;
	padding: 0;
}

#main-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	padding: 0 0 100px;
	position: relative;
}

.mt-10 {
	margin-top: 10px;
}

.mt-15 {
	margin-top: 20px;
}

.mt-20 {
	margin-top: 20px;
}

.mt-25 {
	margin-top: 25px;
}

.mt-30 {
	margin-top: 30px;
}

.carousel-item>img {
	min-width: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
